html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#grid-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0px;
    justify-content: flex-start;
    align-items: flex-start;
    width: 720px;
    height: 720px;
    /* border: 1px solid black; */

}

.grid-cell {
    /* background-color: black; */
    border: 1px solid black;
    opacity: 0.1;
}

/* .grid-cell:hover {
    background-color: black;

}

.grid-cell:not(:hover) {
    transition: all 1s ease-out;
} */